* {
  margin: 0;
  padding: 0;
}
.fixed{
  position: sticky;
  top: 0;
  z-index: 100;
}
.header_container {
  background-color: #014335;
  display: flex;
  gap: 20px;
  align-items: center;
  color: white;
  height: 60px;
 
}
.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
}
.logo_container img {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  vertical-align: middle;
}
.delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-weight: bold;
  padding: 5px;
}
.delivery :hover {
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}
.delivery p {
  font-size: 11px;
  color: #9a9696;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
flex: 1;
}
.search select,
.search input {
  padding: 10px;
  font-weight: bold;
  outline: 1px solid white;
}
.search select {
  border: none;
  background-color: #d4d4d4;
  cursor: pointer;
}
.search select:hover {
  background-color: #9a9696;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}
.search input {
  border: 1px solid white;
  width: 100%;
  margin-right: -2px;
}

.search:hover {
  cursor: pointer;
  box-shadow: 0 10px 2px rgba(0,0,0,0.5);
}
.search svg {
  padding: 7px;
  background: #7f1153;
  color: #1a1a1a;
  height: 38px;
}
.search svg:hover {
  background-color: #470f2f;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}
.search:focus-within {
  border: 2px solid #911a61;
}
.order_container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  gap: 10px;
}
.order_container a {
  text-decoration: none;
  color: white;
}
.order_container p {
  font-size: 10px;
}
.language {
  width: 100px;
  display: flex;
  padding: 10px;
}
.language select {
  background: transparent;
  color: white;
  border: none;
  outline: none;
}
.language img {
  width: 40%;
}
.account select {
  background: transparent;
  color: white;
  border: none;
  outline: none;
}
.account{
  width:100px;

}
.account p {
  font-size: 13px;
}
.account span {
  font-weight: 600;
  font-size: 13px;
}
.cart {
  position: relative;
width: 50px;

}
.cart span {
  position: absolute;
  font-weight: bold;
  top: 0px;
  font-size: 18px;
  left: 18px;
  color: white;
}
.order_container a:hover,
.delivery:hover,
.logo_container a:hover,
.lower_container ul li:hover {
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}
.lower_container {
  background-color: #085749;
  color: white;
  height: 50px;
  padding-top: 10px;
}
.lower_container ul {
  display: flex;
  list-style: none;
  gap: 5px;
}
.lower_container ul li {
  padding: 8px;
}
.lower_container ul li:first-child {
  display: flex;
  gap: 2px;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .header_container {
    display: flex;
    flex-direction: column !important;
    height: auto;
  }
  .lower_container ul li:not(:first-child) {
    display: none;
  }
  .language {
    display: none;
  }
}
