.card_container {
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: black;
  text-decoration: none;
  position: relative;
  font-size: 12px;
  height: 300px;
}

.card_container:hover .button {
  display: block;
}
.card_container img {
  padding: 10px;
  width: 100%;
  height: 180px;
  object-fit: contain;
}
.button {
  display: none;
  padding: 4px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-color: #febd69;
  width: 100%;
  margin: 5px 0;
  border-radius: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.button:hover {
  background-color:#d49644;
}
.rating {
  display: flex;
  align-items: center;
  padding: 5px 0px;
}
.price {
  font-weight: 600;
  font-size: 12px;
}
.product_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-width: 1450px;
  margin: 100px auto 100px auto;
  gap: 50px;
  justify-items: center;
}
.product_container section {
  margin: 0 auto;
}
